source_server/node_modules
source_server/package-lock.json
source_server/drive
source_server/temp
source_client/.dart_tool
source_client/.idea
source_client/build
source_client/.flutter-plugins
source_client/.flutter-plugins-dependencies
source_client/.metadata
source_client/drive.iml
source_client/pubspec.lock
source_client/android
source_client/windows
source_client/linux
source_client/web

source_server/libraries/windows/ffmpeg.exe
source_server/libraries/windows/yt-dlp.exe
source_server/libraries/linux/ffmpeg
source_server/libraries/linux/yt-dlp

# Video Converter
video_converter/target
video_converter/Cargo.lock

# Video Downloader
video_downloader/target
video_downloader/Cargo.lock